<div class="verification-result">
    {% set total = 0 %}
    {% if pullrequests is defined and pullrequests %}
      {% set total = pullrequests|length %}
    {% endif %}


    {% if total == 42 %}
      {% elseif total > 4 %}
          {% set title = "WOW!" %}
          {% set message = "Goodbye and thanks for all the fish." %}
      {% elseif total == 4 %}
          {% set title = "Congratulations, you made it!" %}
          {% set message = "You are all set for getting your prize." %}
      {% elseif total == 3 %}
          {% set title = "Almost..." %}
          {% set message = "You were so close! But you did well, with 3 Pull Requests." %}
      {% elseif total == 2 %}
          {% set title = "Half" %}
          {% set message = "You did half way - that's already something" %}
      {% elseif total == 1 %}
          {% set title = "Uno" %}
          {% set message = "You participated, that's what it counts! One PR - Hope it was a good one." %}
      {% else %}
          {% set title = "Better Luck next Time" %}
          {% set message = "Aw, it seems you don't have any valid Pull Request. Maybe try again next year? " %}
    {% endif %}
          <h3>{{ title }}</h3>
          <p>{{ message }}</p>

    {% if pullrequests is defined and pullrequests %}
        <h4>Total valid PRs found: <strong>{{ total }}</strong> / 4</h4>
        {% for pr in pullrequests %}
        <div class="pullrequest">
            <div>
                <a href="{{ pr.base.repo.html_url }}" class="project">{{ pr.base.repo.full_name }}</a>
                <p class="project-meta">
                    <span><i class="fa fa-star"></i> {{ pr.base.repo.stargazers_count }}</span>
                    <span><i class="fa fa-code-fork"></i> {{ pr.base.repo.forks_count }}</span>
                    <span><i class="fa fa-code"></i> {{ pr.base.repo.language }}</span>
                </p>
            </div>
            <h4><a href="{{ pr.html_url }}" target="_blank">{{ pr.title|default('No Title Provided') }}</a></h4>
        </div>
        {% endfor %}
    {% endif %}
</div>

<p><a href="#" id="button-verify" onclick="verifyUserPullRequests(1)" class="button"><span class="fa fa-github-square"></span> Fetch Updated Results</a></p>